.list-item{
    list-style: none;
    line-height: 2.5;
    font-size: 18px;
    color: #5A5A5A;
    
    &.strike {
        color: #D8D8D7;
        text-decoration: line-through;
    }
}

.input-checkbox {
    appearance: none !important;
    -moz-appearance: none !important;
    position: relative;
    padding-right: 5px;

    &::before {
    content: '';
    appearance: none !important;
    -moz-appearance: none !important;
    background-color: transparent;
    border: 2px solid #CACAC9;
    border-radius: 8px;
    padding: 10px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
    }
}

.input-checkbox.active {
    &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 10px;
        width: 7px;
        height: 17px;
        border: solid #818AE6;
        border-width: 0 3px 3px 0;
        transform: rotate(45deg);
        border-radius: 2px;
        margin-right: 5px;
        cursor: pointer;
    }
}