.list-group {
    padding: 30px 30px 50px;
    margin: 0;
    background-color: #ffffff;
}

form input[type="text"] {
    width: 80%;
    background-color: transparent;
    border: 2px solid #CACAC9;
    border-radius: 8px;
    padding: 10px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;

    @media screen and (max-width: 600px) {
        width: 70%;
        margin-right: 10px;
    }
}

form button[type="submit"] {
    color: #ffffff;
    background-color: #e66465;
    padding: 8px;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    box-shadow: 1px 1px 5px 0 #000000;
    cursor: pointer;
    transition: box-shadow 1s;

    &:active {
        transform: scale(0.95);
        box-shadow: 0.5px 0.5px 2px 0 #000;
    }
}

form {
    margin: 20px 0;
}