.circled-plus-btn {
    border-radius: 50%;
    background-color: #f5b642;
    height: 75px;
    width: 75px;
    box-shadow: 10px 10px 5px #aaaaaa;

    .plus {
        color: #ffffff;
        font-size: 2.5em;
    }
}

