.completed-list {
    list-style: none;

    span {
        font-size: 20px;
        font-weight: bold;
        text-decoration: underline;
    }

    li {
        line-height: 2;
        font-style: italic;
        font-weight: 400;
        font-size: 16px;
    }
}